.box {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.order {
  display: block;
  width: 200px;
  flex-direction: column;
  border: 1px solid black;
  padding: 7px;
  margin: 0.2rem;
  border-radius: 5px;
  background-color: rgb(110, 104, 17);
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
/* .inputArea {
  background-color: rgb(194, 175, 112);
} */
.inputArea > input,
.editBox {
  height: 1.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.btnBox {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  width: 90%;
  border: 1px solid black;
  padding: 3px;
  margin: 5px auto;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(238, 231, 208);
  color: #000000;
}

.nameBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  /* background-color: rgb(238, 231, 208); */
  padding: 2px;
  align-items: center;
  font-size: 1.5rem;
}
li {
  width: 100%;
  white-space: normal;
  list-style-type: none;
}
ul {
  padding: 0;
}
button {
  margin: 5px;
}

.editBox {
  width: 100%;
}

div,
button,
input {
  border-radius: 5px;
}

.deleteDiv {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 8px;
}

.deleteIcon {
  border-radius: 50%;
  background-color: tomato;
  box-sizing: content-box;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  padding-bottom: 1px;
  text-align: center;
  font-size: 5px;
  border-width: 1px;
  text-decoration: none;
}

button {
  background-color: #9bd9f1;
  /* color: aliceblue; */
}
button:hover {
  cursor: pointer;
}
