.box {
  display: flex;
  align-items: flex-start;
}

.order {
  display: block;
  width: 150px;
  flex-direction: column;
  border: 1px solid black;
  padding: 7px;
  margin: 0.2rem;
}

.inputArea > input {
  height: 1.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.btnBox {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  width: 90%;
  border: 1px solid black;
  padding: 3px;
  margin: 5px auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nameBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
li {
  width: 100%;
  white-space: normal;
  list-style-type: none;
}
ul {
  padding: 0;
}
button {
  margin: 5px;
}

.editBox {
  width: 100%;
}
